:root {
  --color-bg: #0a0a0f;
  --color-text: #f3f0ff;
  --color-muted: #a29db5;
  --color-accent: rgb(0 221 204);
  --color-accent-secondary: #a98cff;

  --font-primary: "Helvetica Neue", "Arial Nova", Arial, sans-serif;

  --container-padding: 6vw;
  --transition-base: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
